{% extends '::base.html.twig' %}  
{% block content %}
    {% for post in en%}
      <div class="col-6 col-sm-6 col-lg-4">
        <h2>{{ post.getTitle() }}</h2>
        <p> {% media post.getImage(), 'small' %} </p>
        <p style= "font-size:xx-small;">Posté le {{post.getYear() }} - {{ post.getMonth() }} - {{post.getDay() }} </p>
        
        <p>
            <a class="btn btn-default" href="#"> lire l'article »</a>
        </p>
      </div>
    {% endfor %}  
{% endblock content %}