#logo_fr {
    background-color:black;
    color:white;
    text-align:center;
    width: 100px;
    height: 50px;
    padding:5px;
}
#header_fr {
	position: relative;
	height: 50px;
    background-color:black;
    color:white;
    text-align:left;
    padding:5px;
}
#nav_fr {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#section_fr {
    width:350px;
    float:left;
    padding:10px; 
}
#footer_fr {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
/************** nav => Debut **************/


ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #555; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #666;}