@media (max-width: 768px) {
	* {
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
	#global{
		width:auto;
		border: none;
		/*float: left;*/
	}

	.hidden-tablet {
		display: none;
		visibility: hidden;
	}

	.visible-tablet {
		display: block;
		visibility: visible;
	}

	.filetDouble, .filet {
		width: 100%;
	}

	.scripts {
		width: 300px;
		margin: auto;
	}

	dt > img {
		max-width: 100%;
		height: auto;
	}

	#menuSmartphone {
		display: none;
	}

/** Start Header **/
	header, #divHeader{
		height:100px;
	}
		#logo{
			float: none;
			display: block;
			padding-top: 18px;
			margin-top: 0px;
			text-align: center;
		}
		#headerBandeau { /* Cacher pub header */
			display: none;
		}
/** End Header **/

/** Start Menu **/
	#displaySmartMenu {
		display: block;
		position: absolute;
		top: 0px;
		right: 0px;
		background: #8abc37;
		height: 44px;
		width: 50px;
		z-index: 10;
		cursor: pointer;
	}
		#displaySmartMenu > span {
			display: block;
			background: #72a21a;
			margin-top: 7px;
			margin-left: 10px;
			height: 30px;
			width: 30px;
			z-index: 10;
			padding-top: 7px;
		}
			.icon-bar {
				display: block;
				width: 22px;
				height: 3px;
				background-color: white;
				margin-bottom: 3px;
				margin-left: 4px;
			}
	#ulNavMenu {
		border-bottom: none;
		height:44px;
		position:relative;
		display:block;
	}
		#ulNavMenu li {
			list-style:none;
			float:none;
			display: block;
			border-top: 1px solid #696969;
			position:relative;
		}
			#ulNavMenu li:first-child {
				display: block;
				border-top: 0px;
			}
			#ulNavMenu li.navService {
				border-top: 0px solid #696969;
			}
			#ulNavMenu li.navService a {
				padding-top: 13px;
				height: 44px;
			}
		a:link.aMenu, a:visited.aMenu, a:hover.aMenu{
			padding-top: 13px;
			height: 44px;
		}
		.navService:last-child > a:link {
			border-left: 0px;
			margin-bottom: 10px;
		}

	/* Sous menu */
		.sousMenu{
			position:relative;
			z-index:5000;
			width: auto;
			height: auto;
			background: #696969;
			display: none;
			opacity:1;
			top: 0px !important;
			left: 0px;
			border: none;
			border-radius: none;
			box-shadow: none;
			padding-left: 20px;
			visibility:visible;
		}
			.sousMenuCol{
				width:auto;
				margin-top:0px;
				margin-left:0px;
				background: #ffffff;
				height: auto;
				float: none;
			}
				.sousMenuTitre{
					display: block;
					text-transform:uppercase;
					color:#fff;
					font-weight:bold;
					background:#696969;
					padding: 10px 0px 10px 10px;
					margin: 0px;
					width: 100%;
				}
				.sousMenuLiens{
					margin-top:0px;
				}
					a:link.ssMenuA, a:visited.ssMenuA, a:hover.ssMenuA {
						color:#565658;
						display: block;
						height: 38px;
						margin-bottom: 0px;
						padding-top: 9px;
						background: none;
						padding-left:20px;
						text-decoration:none;
						border-top: 1px solid #bcbcbc;
						margin-left:0px;
						width: 100%;
					}
					a:link:first-child.ssMenuA, a:visited:first-child.ssMenuA, a:hover:first-child.ssMenuA {
						border-top: 0px solid #696969;
					}
					a:hover.ssMenuA {
						background-color: #ececec;
					}
			.sousMenuCol > br {
				display: none;
			}
/** End menu **/

/** Start Content **/
	#content {
		/*float: left;*/
		margin-top: 10px;
	}
		#H1margin {
			margin-top: 10px;
		}
	#left, #right {
		width: 100%;
	}
		.pageStandardH2 {
			margin-bottom: 0px;
			width: 100%;
		}
			.pageStandardLeftH2 {
				margin-top: 0px;
				position: relative;
				width: 100%;
				left: auto;
			}
		.leftH2, .rightH2Margin, .rightH2 {
			width:100%;
			height:32px;
		}
			.leftH2 h2, .rightH2Margin h2, .rightH2 h2, #actuFiche h2, .pageStandardLeftH2 h2 {
				height:32px;
			}
			#actuFiche h2 {
				padding-top: 9px;
			}

	.blocDroite {
		border: 0px;
	}

	/* Sommaire */
	.leftBorder {
		border: 0px;
		border-bottom: 1px solid #ececec;
		margin-bottom: 21px;
	}
		/* Actu en une */
		#actuEnUne {
			position: relative;
			width: 100%;
			margin: 0px;
			padding: 10px;
		}
			#actuEnUne span {
				font-size:14px;
				line-height:1.2em;
			}
			#actuEnUne img {
				width: 100%;
				height: auto;
			}
		/* Actu secondaire */
		.actuEnUneSecondaire {
			position: relative;
			width: 49%;
			margin: 0px;
			padding: 5px;
			height: auto;
		}
			.actuEnUneSecondaire img {
				width: 100%;
				height: auto;
				border: 1px solid #efefef;
			}
				.actuEnUneSecondaire a:hover div img {
					border: 1px solid #8cba42;
				}
			.actuEnUneSecondaire a div, .actuEnUneSecondaire a:hover div, .actuEnUneSecondaire a:link div, .actuEnUneSecondaire a:visited div {
				width: 100%;
				height: auto;
				max-height: 165px;
				border: 0px;
			}
			.titreActuUneSecondaire {
				font-size:14px;
				line-height:1.2em;
			}
		/* liste actu */
		.listeActu {
			width:49%;
			height:auto;
			margin-top:8px;
			margin-bottom:6px;
		}
			.listeActu img {
				margin-left: 5px;
			}

		/* Actu en une */
		.actuEnUneCat {
			width: 100%;
			margin-top: 15px;
			padding-left: 5px;
			padding-right: 5px;
			height: auto;
			float: left;
		}
			.actuEnUneCat a {
				float: left;
			}

	.smartphone-left {
		float: none;
	}

	.conteneurSuiteActu {
		float: none;
		clear: both;
		text-align: center;
		display: block;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}
		.btnSuiteActu {
			float: none;
			clear: both;
			text-align: center;
			display: inline-block;
		}

	/* Bloc droite */
	.blocDroiteContent {
		width: 100%;
		padding: 0px 10px 0px 10px;
	}
		.blocDroiteContent img {
			max-width: 100%;
		}
		.dossierToileF1 {
			width: 100%;
			min-height: 81px;
			height: auto;
			float: left;
		}
			.dossierToileF1 div {
				min-height: 81px;
				height: auto;
				width: auto;
				display: inline;
				float: none;
			}
			a:link.dossierToileF1Lien {
				padding: 5px 6px 3px 6px;
				margin-top: 4px;
				font-size: 11px;
				display: inline-block;
				width: auto;
			}
			a:link.dossierToileF1Onglet, a:visited.dossierToileF1Onglet, a:hover.dossierToileF1Onglet, li.ui-tabs-selected a.dossierToileF1Onglet {
				width: 33%;
				text-align: center;
				padding-left: 3px;
				padding-right: 3px;
			}
		.rightFilet {
			width: 100%;
		}
		.blocDroitePhotos {
			width: 100%;
			margin-top: 5px;
		}
		/* Bloc prochain GP */
		#prochainGP .spanDate {
			margin-left: 10px;
			margin-right: 10px;
		}
		.divGpBg {
			padding-left:10px;
			width:100%;
			padding-top:3px;
			padding-bottom:3px;
		}
		.divGpBgHeure {
			width: 55px;
			height: auto;
			display: inline-block;
			float: none;
		}
		.alignCenter {
			text-align: center;
		}
		.blocDroiteContent > table {
			width: 100%;
		}


/** End Content **/

/** Start Page Rubrique **/
	#left > h1 {
		padding-left: 10px;
	}

	#introRubrique p {
		padding: 0px 10px 0px 10px;
	}
	#introRubrique img {
		width: 100%;
	}
/** End Page Rubrique **/

/** Start Page Article **/
	#actuFiche{
		width:100%;
		margin-left:auto;
		margin-right:auto;
		margin-top:10px;
		padding: 0px 10px 14px 10px;
	}
		.articleImg {
			text-align: center;
		}
		#actuFiche iframe {
			width: 100%;
		}

	#partager {
		height: auto;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		padding-top: 0px;
	}
		#partagerGauche {
			width: 100%;
		}
			#partagerGauche > div {
				padding-top: 8px;
			}
		.partagerGauche, .partagerDroite, #vousAimez {
			margin-left: 0px;
			margin-right: 10px;
		}

	.actuSimilaire {
		width: 100%;
	}
		.actuSimilaireListe {
			width: 49%;
			height: auto;
		}
			.actuSimilaireListe img {
				margin-left: 5px;
			}

		.similaireSuite {
			margin-left: 5px;
			margin-right: 5px;
		}
/** End Page Article **/

/** Start Pages **/
	#pageStandard {
		border: 0px;
		width: 100%;
	}
		#pageStandard .actuSimilaire {
			width: 49%;
		}
			#pageStandard .actuSimilaireListe {
				width: 100%;
			}
		#pageStandard.no-padding {
			padding-left: 0px;
			padding-right: 0px;
		}
		.padding10 {
			padding: 10px;
		}
		.padding10 input, .padding10 textarea {
			width: 100%;
		}
	
	#annuaire a {
		display: block;
	}
	#annuaire img {
		display: block;
		width: 200px;
		height: auto;
		margin: auto;
		float: none;
	}
/** End Pages **/

/** Start Footer **/
	#footerAds{
		width:100%;
		display: none;
	}
	footer{
		background-image:none;
		height: auto;
	}
		#footer{
			width:auto;
			margin-left:auto;
			margin-right:auto;
		}
			#footerHaut{
				width:auto;
				height: auto;
				text-align: center;
				background-image:url('site/img/bgFooterMobile.png');
				background-repeat: repeat;
			}
				#footerHautTopMobile {
					display: block;
					float: left;
					width: 100%;
					text-align: left;
				}
					#footerBlocBottomMobile {
						display: block;
						float: left;
					}
					.footerBloc{
						padding-top:17px;
						padding-left:5%;
						/*width: */
						float:left;
						margin-left:0px;
						display: inline-block;
						min-height: 165px;
					}
						#footerBlocPartenaires {
							max-width: 152px;
						}
						.footerBloc span {
							font-size:14px;
							padding-bottom:8px;
						}
				#footerBlocReseauxSociaux{
					display: inline-block;
					padding-top:27px;
					float:none;
					clear: both;
					margin-left:0px;
					color:#fff;
				}

			#footerBas{
				width:auto;
				height:41px;
				line-height:41px; /* Hack to vertical align span */
				padding-top:0px;
				color:#9d9d9e;
				font-size:12px;
				text-align:left;
				padding-left: 17px;
				text-align:center;
				padding-right: 17px;
			}
				#footerBas > span {
					margin-top: 1px;
					vertical-align: middle;
					display: inline-block;
					line-height:1.1;
					text-align: left;
					font-size: 12px;
				}
/** End Footer **/

	.ads615x60 {
		width:100%;
		margin: 0px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.ads615x60Actu {
		width:100%;
		margin: 0px;
		padding-left: 5px;
		padding-right: 5px;
	}
		.ads615x60 a, .ads615x60Actu a {
			display: block;
		}
			.ads615x60 a img, .ads615x60Actu a img {
				width: 100%;
			}




/** Start Galerie **/
	.galskinbloc {
		padding: 0px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
		#galcontenu {
			
		}
			.galerieBlocContenu {
				width: 49%;
			}
				.galerieMiniature {
					width: 167px;
					width: 45%;
					padding-top: 10px;
					padding-left: 5px;
					padding-right: 5px;
				}
					.galminiature {
						padding: 10px;
						width: 100%;
						height: auto;
					}
				.galerieDescription {
					width: 50%;
					padding-top: 10px;
				}
		#galtblminiaturesSerie {
			width: 85%;
		}
			.serieBlocImage {
				width: 42%;
				max-width: 210px;
			}
				.serieBlocImage img {
					width: auto;
					max-height: 210px;
				}
			.serieLineImage {
				float: none;
			}

	#dlImage {
		display: inline-block;
		background-color: #8abc37;
		color: white;
		padding: 6px 7px 3px 7px;
		width: 100%;
		text-decoration: none;
		font-weight: bold;
	}
	.galbarrenav a.gallien, .galbarrenav b {
		display: inline-block;
		background-color: #8abc37;
		color: white;
		padding: 6px 7px 3px 7px;
		border: 1px solid transparent;
	}
		.galbarrenav b, .galbarrenav a.gallien:hover {
			background-color: #8abc37;
			color: white;
			border: 1px solid #EEEEEE;
		}
	#galimgafficherdatas iframe {
		width: 100%;
	}
/** End Galerie **/
}

@media (max-width: 550px) {
	.hidden-smartphone {
		display: none;
		visibility: hidden;
	}

	.visible-smartphone {
		display: block;
		visibility: visible;
	}

	.push-left {
		float: none;
	}
	.push-right {
		float: none;
	}

/** Start Content **/
	.leftH2 h2.large {
		width: 92%;
	}
		#actuFiche iframe {
			width: 100%;
			height: 250px;
		}
	/* Actu secondaire */
		.actuEnUneSecondaire {
			position: relative;
			width: 100%;
			margin: 0px;
			padding: 5px;
			height: auto;
		}
			.actuEnUneSecondaire img {
				width: 100%;
				height: auto;
				border: 1px solid #efefef;
			}
				.actuEnUneSecondaire a:hover div img {
					border: 1px solid #8cba42;
				}
			.actuEnUneSecondaire a div, .actuEnUneSecondaire a:hover div, .actuEnUneSecondaire a:link div, .actuEnUneSecondaire a:visited div {
				width: 100%;
				height: auto;
				max-height: 165px;
				border: 0px;
			}
			.actuEnUneSecondaire a {
				float: left;
				width: 100%;
				height: 100%;
			}
			.titreActuUneSecondaire {
				font-size:14px;
				line-height:1.2em;
			}
		/* liste actu */
		.listeActu {
			width:100%;
		}
			.listeActu a:link img, .listeActu a:visited img, .listeActu a:hover img {
				max-height: 60px;
				margin-left: 5px;
				width: 98px;
			}
			.listeActu a {
				float: left;
				width: 100%;
			}

		.actuSimilaireListe {
			width: 100%;
		}
			.actuSimilaireListe a {
				float: left;
				width: 100%;
			}
			.actuSimilaireListe img {
				margin-left: 5px;
				max-height: 90px;
				width: auto;
			}

		#pageStandard .actuSimilaire {
			width: 100%;
		}
			#pageStandard .actuSimilaireListe {
				width: 100%;
				float: none;
			}

		/* Actu en une */
		.actuEnUneCat {
			width: 100%;
			margin-top: 15px;
			padding-left: 10px;
			padding-right: 10px;
			height: auto;
			float: left;
		}
			.actuEnUneCat a {
				float: left;
			}
				.actuEnUneCat a > div {
					margin-left:0px;
					float: left;
					margin-top: 10px;
				}
				.actuEnUneCat a > img {
					max-width: 100%;
					width: 100%;
					height: auto;
				}

	.divUneVideoFacebook{
		position:relative;
		top:auto;
	}
	a:link.aUneVideoTitre, a:visited.aUneVideoTitre, a:hover.aUneVideoTitre{
		font-size: 13px;
		position:relative;
		top:auto;
	}
/** End Content **/

/** Start Page Article **/
	.articleImg img {
		width: 100%;
		height: auto;
	}
/** End Page Article **/


/** Start Galerie **/
	.galerieBlocContenu {
		width: 100%;
	}
		.galerieMiniature {
			width: 35%;
		}
		.galerieDescription {
			width: 63%;
		}

	#galtblminiaturesSerie {
			width: 100%;
		}
			.serieBlocImage {
				width: 49%;
			}
/** End Galerie **/
}

@media (max-width: 400px) {
	.leftH2 h2 {
		font-size: 16px;
		padding-top: 6px;
	}
		.leftH2 h2 span {
			font-size: 13px;
			vertical-align: 2px;
		}

		#actuFiche h2 {
			font-size: 16px;
		}

	.divUneVideo {
		width: 100%;
		margin-right: 0px;
		height: auto;
	}
	.divUneVideoImage{
		height: auto;
		width: 100%;
	}


/** Start Galerie **/
	.galerieMiniature {
		
	}
		.galminiature {
			padding: 6px;
			width: 100%;
			height: auto;
		}
		.galerieDescription {
			
		}
	#galtblminiaturesSerie {
		width: 100%;
	}
		.serieBlocImage {
			width: 100%;
		}
/** End Galerie **/

}